[honeypot]
hostname = svr04
timezone = UTC
log_path = var/log/cowrie
download_path = ${honeypot:state_path}/downloads
share_path = share/cowrie
state_path = var/lib/cowrie
etc_path = etc
contents_path = honeyfs
txtcmds_path = txtcmds
interact_enabled = false

# SSH
listen_endpoints = tcp:2222:interface=0.0.0.0

# Telnet
telnet_listen_endpoints = tcp:2223:interface=0.0.0.0

[backend_pool]
enabled = false

[output_jsonlog]
enabled = true
logfile = ${honeypot:log_path}/cowrie.json

[output_textlog]
enabled = true
logfile = ${honeypot:log_path}/cowrie.log

[ssh]
version = SSH-2.0-OpenSSH_6.0p1 Debian-4+deb7u2
enabled = true

[telnet]
enabled = true
